<!DOCTYPE html>
<html>

<head>
<title>Tool Ghép Skin</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1>Tool Ghép Skin Liên Quân</h1>


<div class="row">

<div class="box half">

<h3>Ảnh nền</h3>

<input type="file" id="bg">
<br>
<img id="bgPreview" class="preview">

</div>


<div class="box half">

<h3>Tỉ lệ thắng</h3>

<input type="file" id="rate">
<br>
<img id="ratePreview" class="preview">

</div>

</div>


<div class="box">

<h3>Skin cần ghép</h3>

<input type="file" id="shop" multiple>

<div id="shopPreview" class="skin-list"></div>

</div>



<div class="box">

<button onclick="cutSkin()">Cắt Skin</button>

<h3>Skin đã cắt</h3>

<div id="skinList" class="skin-list"></div>

</div>

<div class="row">

<div class="box half">

<h3>Thông báo hạ</h3>

<input type="file" id="tbha">
<br>
<img id="tbhaPreview" class="preview">

</div>


<div class="box half">

<h3>Nút hiệu ứng</h3>

<input type="file" id="nut">
<br>
<img id="nutPreview" class="preview">

</div>

</div>

<button onclick="loadSkins()">Hiển thị Skin</button>

<div id="skinSelect"></div>
<button onclick="mergeIcon()">Ghép Nút + Thông Báo Hạ</button>

<br><br>

<div id="iconResult"></div>
<div class="box">

<div class="box">
<label style="font-size:18px;">
<input type="checkbox" id="email">
Ảnh Email
</label>
<label style="font-size:18px;">
<input type="checkbox" id="ruong_cs">
Ảnh rương chung sức
</label>

<label style="font-size:18px;">
<input type="checkbox" id="ruong_wave">
Ảnh rương Wave
</label>

<label style="font-size:18px;">
<input type="checkbox" id="ruong_ss">
Ảnh rương SS
</label>
</label>

<br><br>

<label style="font-size:18px;">
Giấy tuyệt sắc:
</label>

<input 
type="number" 
id="giay_ts" 
placeholder="Nhập số lượng"
style="padding:6px;font-size:16px;width:120px"
>

<br><br>

<button onclick="merge()">Ghép Ảnh</button>

<br><br>

<div id="download"></div>

<h3>Kết quả</h3>

<img id="result" class="result">

</div>


</div>



<script>

let shopPaths = []

let mode = ""

/* =========================
Upload Background
========================= */

document.getElementById("bg").onchange = async function(){

let f = this.files[0]

let form = new FormData()

form.append("file",f)

await fetch("/upload_bg",{method:"POST",body:form})

document.getElementById("bgPreview").src = URL.createObjectURL(f)

}



/* =========================
Upload Rate
========================= */
document.getElementById("rate").onchange = async function(){

let f = this.files[0]

let form = new FormData()

form.append("file",f)

await fetch("/upload_rate",{method:"POST",body:form})

document.getElementById("ratePreview").src = URL.createObjectURL(f)

}



/* =========================
Upload Shop
========================= */
document.getElementById("shop").onchange = async function(){

let form = new FormData()
let preview = document.getElementById("shopPreview")

preview.innerHTML="Đang upload..."

for(let f of this.files){
    form.append("files",f)
}

console.log("Uploading shop...")

let r = await fetch("/upload_shop",{
    method:"POST",
    body:form
})

let data = await r.json()

console.log("Upload shop:",data)

if(data.paths){
    shopPaths = data.paths
}else{
    alert("Upload shop lỗi")
    return
}

/* preview sau khi upload xong */

preview.innerHTML=""

for(let f of this.files){

    let img = document.createElement("img")
    img.src = URL.createObjectURL(f)
    img.className="skin"

    preview.appendChild(img)

}

}

function mergeIcon(){

    if(!confirm("Bạn có chắc muốn ghép Nút + Thông Báo Hạ không?")){
        return
    }

    let skins = getSelectedSkins()

    if(skins.length == 0){
        alert("Hãy chọn skin trước")
        return
    }

    fetch("/merge_skin",{
        method:"POST",
        headers:{
            "Content-Type":"application/json"
        },
        body:JSON.stringify({
            skins:skins
        })
    })
    .then(r=>r.blob())
    .then(img=>{

        alert("Ghép icon thành công!")

        let url = URL.createObjectURL(img)

        // xoá ảnh cũ
        document.getElementById("iconResult").innerHTML = ""

        // thêm ảnh mới
        document.getElementById("iconResult").innerHTML =
        `<img src="${url}">`

    })

}

/* =========================
Cắt Skin
========================= */

async function cutSkin(){

if(!confirm("Bạn có chắc muốn cắt skin không?")){
return
}

if(shopPaths.length === 0){
alert("Chưa upload ảnh shop")
return
}

let r = await fetch("/cut_skin",{
method:"POST",
headers:{"Content-Type":"application/json"},
body:JSON.stringify({paths:shopPaths})
})

let data = await r.json()

if(data.error){
alert(data.error)
return
}

alert("Cắt ảnh thành công!")

let div = document.getElementById("skinList")
div.innerHTML=""

for(let s of data.skins){

let box = document.createElement("div")
box.className = "skin-box"

let img = document.createElement("img")
img.src=s.url
img.className = "skin"

img.draggable = false
img.addEventListener("touchstart", e => e.preventDefault())

box.draggable = true
box.dataset.name = s.name

box.addEventListener("dragstart", dragStart)
box.addEventListener("dragover", dragOver)
box.addEventListener("drop", drop)

let remove = document.createElement("div")
remove.className = "remove"
remove.innerHTML = "×"

remove.onclick = async function(){

    if(!confirm("Bạn có chắc muốn xoá skin này không?")){
        return
    }

    let name = box.dataset.name

    await fetch("/delete_skin",{
        method:"POST",
        headers:{
            "Content-Type":"application/json"
        },
        body:JSON.stringify({
            name:name
        })
    })

    box.remove()

}

box.appendChild(img)
box.appendChild(remove)

div.appendChild(box)

}
}


/* =========================
Upload + Cut Thông Báo Hạ
========================= */

document.getElementById("tbha").onchange = async function(){

let f = this.files[0]

let form = new FormData()

form.append("image",f)

let r = await fetch("/cut_tbha",{
method:"POST",
body:form
})

let blob = await r.blob()

document.getElementById("tbhaPreview").src = URL.createObjectURL(blob)

}



/* =========================
Upload + Cut Nút
========================= */

document.getElementById("nut").onchange = async function(){

let f = this.files[0]

let form = new FormData()

form.append("image",f)

let r = await fetch("/cut_nut",{
method:"POST",
body:form
})

let blob = await r.blob()

document.getElementById("nutPreview").src = URL.createObjectURL(blob)

}
let skins = []
let cutMode = false
let iconImage = null

function loadSkins(){

    fetch("/get_skins")
    .then(res => res.json())
    .then(data => {

        let div = document.getElementById("skinSelect")

        // Xóa danh sách cũ để tránh trùng
        div.innerHTML = ""

        data.forEach(skin => {

            let box = document.createElement("div")
            box.className = "skin-item"

            box.innerHTML = `
                <img src="${skin.url}">
                <br>
                <input type="checkbox" class="skinCheck" value="${skin.name}">
            `

            div.appendChild(box)

        })

    })
}



function getSelectedSkins(){

    let skins = []

    document.querySelectorAll(".skinCheck:checked").forEach(cb=>{
        skins.push(cb.value)
    })

    return skins
}

function showNut(){

    let skins = getSelectedSkins()

    if(skins.length == 0){
        alert("Hãy chọn skin trước")
        return
    }

    fetch("/merge_skin",{
        method:"POST",
        headers:{
            "Content-Type":"application/json"
        },
        body:JSON.stringify({
            skins:skins,
            type:"nut"
        })
    })
    .then(r=>r.blob())
    .then(img=>{
        document.getElementById("result").src = URL.createObjectURL(img)
    })

}

function showTBHa(){

    let skins = getSelectedSkins()

    if(skins.length == 0){
        alert("Hãy chọn skin trước")
        return
    }

    fetch("/merge_skin",{
        method:"POST",
        headers:{
            "Content-Type":"application/json"
        },
        body:JSON.stringify({
            skins:skins,
            type:"tbha"
        })
    })
    .then(r=>r.blob())
    .then(img=>{
        document.getElementById("result").src = URL.createObjectURL(img)
    })

}


/* =========================
Ghép ảnh
========================= */

async function merge(){

if(!confirm("Bạn có chắc muốn ghép ảnh không?")){
return
}

let skins = []

document.querySelectorAll("#skinList .skin-box").forEach(box=>{
skins.push(box.dataset.name)
})

let ruong = document.getElementById("ruong_cs").checked
let ruong_wave = document.getElementById("ruong_wave").checked
let ruong_ss = document.getElementById("ruong_ss").checked
let giay = document.getElementById("giay_ts").value
let email = document.getElementById("email").checked

let r = await fetch("/merge",{
method:"POST",
headers:{"Content-Type":"application/json"},
body:JSON.stringify({
skins:skins,
ruong_cs:ruong,
ruong_wave:ruong_wave,
ruong_ss:ruong_ss,
giay_ts:giay,
email:email
})
})

let data = await r.json()

if(data.error){
alert(data.error)
return
}

alert("Ghép ảnh thành công!")

document.getElementById("result").src = data.image + "?" + Date.now()

document.getElementById("download").innerHTML =
`<a href="${data.download}">
<button>Tải ảnh xuống</button>
</a>`

}
let dragItem = null

/* PC drag */

function dragStart(){
    dragItem = this
}

function dragOver(e){
    e.preventDefault()
}

function drop(e){

    e.preventDefault()

    if(dragItem !== this){

        let parent = this.parentNode

        parent.insertBefore(dragItem, this)

    }

}

/* MOBILE drag */

let touchItem = null

document.addEventListener("touchstart", function(e){

    let box = e.target.closest(".skin-box")

    if(box){
        touchItem = box
    }

})

document.addEventListener("touchmove", function(e){

    if(!touchItem) return

    let touch = e.touches[0]

    let target = document.elementFromPoint(touch.clientX, touch.clientY)

    let box = target.closest(".skin-box")

    if(box && box !== touchItem){

        let parent = box.parentNode

        parent.insertBefore(touchItem, box)

    }

})

document.addEventListener("touchend", function(){

    touchItem = null

})

function dragStart(){
    dragItem = this
}

function dragOver(e){
    e.preventDefault()
}

function drop(e){

    e.preventDefault()

    if(dragItem !== this){

        let parent = this.parentNode

        parent.insertBefore(dragItem, this)

    }

}

</script>
</body>
</html>